Repository microsoft/vscode-cordova, pull requests merged in 2020-09, with the labels that each got.

#660 Fix localization import issues
  .vscodeignore
  gulpfile.js
  package-lock.json
  package.json
Labels: localization

#663 Decrease delay on debugging stop
  src/debugger/cordovaDebugSession.ts
  src/extension/cordovaSessionManager.ts
Labels: prerelease

#664 Fix simulator viewport handling
  src/common/configurationReader.ts
  src/common/simulationInfo.ts
  src/cordova.ts
  src/debugger/cdp-proxy/cordovaCDPProxy.ts
  src/debugger/cdp-proxy/debuggerEndpointHelper.ts
  src/debugger/cordovaDebugSession.ts
  src/utils/cordovaSimulateTelemetry.ts
  src/utils/hash.ts
Labels: js-debug-migration

#665 Fix breakpoints activation for Cordova on Windows
  src/debugger/jsDebugConfigAdapter.ts
  src/utils/cordovaProjectHelper.ts
Labels: js-debug-migration

#666 ESLint migration
  .ci/common-validation.yml
  .eslintrc.js
  .gitignore
  gulpfile.js
  package-lock.json
  package.json
  src/debugger/cdp-proxy/sourcemapPathTransformer.ts
  src/debugger/cordovaDebugSession.ts
  src/debugger/extension.ts
  src/utils/telemetryHelper.ts
  tsconfig.json
  tslint.json
Labels: js-debug-migration

#667 Implement custom cwd support
  src/cordova.ts
  src/extension/cordovaWorkspaceManager.ts
  src/extension/projectsStorage.ts
  src/utils/cordovaProjectHelper.ts
Labels: js-debug-migration
