Repository microsoft/vscode-cordova, pull requests merged in 2020-08, with the labels that each got.

#646 Prepare for 1.9.5
  CHANGELOG.md
  package-lock.json
  package.json
  release/ThirdPartyNotices.txt
Labels: prerelease

#641 Implement Safari CDP message handler
  package.json
  src/debugger/cdp-proxy/CDPMessageHandlers/CDPAPINames.ts
  src/debugger/cdp-proxy/CDPMessageHandlers/CDPMessageHandlerBase.ts
  src/debugger/cdp-proxy/CDPMessageHandlers/chromeCDPMessageHandler.ts
  src/debugger/cdp-proxy/CDPMessageHandlers/safariCDPMessageHandler.ts
  src/debugger/cdp-proxy/cordovaCDPProxy.ts
  src/debugger/cdp-proxy/sourcemapPathTransformer.ts
  src/debugger/cordovaDebugSession.ts
  src/debugger/jsDebugConfigAdapter.ts
  src/debugger/requestArgs.ts
  src/extension/simulate.ts
Labels: js-debug-migration

#647 Improve async functions control
  src/debugger/cordovaDebugSession.ts
  src/utils/extensionHelper.ts
Labels: js-debug-migration

#648 Implement Cordova Debug Config Provider
  package.json
  src/cordova.ts
  src/extension/debugConfigurationProvider.ts
Labels: js-debug-migration

#649 Improve Cordova WebViews recognition
  src/debugger/cordovaDebugSession.ts
  src/debugger/cordovaIosDeviceLauncher.ts
Labels: js-debug-migration

#650 Migrate unit tests from vscode to vscode-test package
  gulpfile.js
  package-lock.json
  package.json
  src/cordova.ts
  test/cordova.test.ts
  test/debugger/cordovaIosDeviceLauncher.test.ts
  test/index.ts
  test/runTest.ts
Labels: js-debug-migration

#651 Add tools for vscode-nls package support
  .vscode/settings.json
  gulpfile.js
  package-lock.json
  package.json
  package.nls.json
  src/debugger/cordovaIosDeviceLauncher.ts
Labels: localization

#653 Add extension bundling with Webpack
  .gitignore
  .vscodeignore
  gulpfile.js
  package-lock.json
  package.json
  src/common/customRequire.ts
  src/cordova.ts
  src/debugger/cordovaDebugSession.ts
  src/extension/simulate.ts
  src/utils/extensionHelper.ts
Labels: js-debug-migration, performance

#658 Fix i18n export issue
  package.nls.json
Labels: js-debug-migration

#659 Add handlers for old CDP APIs for back compatibility with ios-webkit-debug-proxy
  src/debugger/cdp-proxy/CDPMessageHandlers/CDPAPINames.ts
  src/debugger/cdp-proxy/CDPMessageHandlers/CDPMessageHandlerBase.ts
  src/debugger/cdp-proxy/CDPMessageHandlers/safariCDPMessageHandler.ts
  src/debugger/cdp-proxy/cordovaCDPProxy.ts
Labels: js-debug-migration
